.upperHalf{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 40px;
    font-size: 1rem;
}

.img1{
    /* height: 700px; */
    /* width: 300px; */
   
    width: 35%;
    height: auto;
}

.img2{
    
    /* height: 480px;
    width: 700px; */
    width: 90%;
    height: auto;
   




 
  
}